﻿
@model MvcRides.Models.Passenger
@{
    ViewBag.Title = "Delete";
}



<h2>Delete</h2>
<h3> Are you sure?</h3>
<h4> Passenger </h4>
<hr />
<d1 class="d1-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.P_FName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.P_FName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.P_LName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.P_LName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.P_Phone)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.P_Phone)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.P_Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.P_Email)
    </dd>


</d1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")

    </div>
}


