﻿@model MvcRides.Models.Passenger
@{
    ViewBag.Title = "Edit";
}





<h2>Edit</h2>

<form method="POST" action="/Passenger/Edit/@Model.PassengerID">
    <div>
        <label>First Name</label>
        <input type="text" value="@Model.P_FName" name="P_FName" />
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" value="@Model.P_LName" name="P_LName" />
    </div>
    <div>
        <label>Phone</label>
        <input type="text" value="@Model.P_Phone" name="P_Phone" />
    </div>
    <div>
        <label>Email</label>
        <input type="text" value="@Model.P_Email" name="P_Email" />
    </div>


    <div>
        <input type="submit" value="Submit" />
    </div>
</form>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

