﻿@model IEnumerable<MvcRides.Models.Passenger>
@{
    ViewBag.Title = "List";
}


<div class="banner" id="passengerbanner">
</div>
<h2>List of passengers</h2>
<div class="recadd">
    @Html.ActionLink("New Passenger", "New", "Passenger")
</div>



<table id="TableHeader" class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>


    </tr>
    @foreach (var item in Model)


    {
        <tr>

            <td>@item.P_FName</td>
            <td>@item.P_LName</td>
            <td>@item.P_Phone</td>
            <td>@item.P_Email</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PassengerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PassengerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PassengerID })
            </td>
        </tr>
    }
</table>







<div style="overflow:hidden;margin-top:10px;">
    @foreach (var passenger in Model)
    {

        <div>
            @Html.ActionLink(passenger.P_FName, "Edit/" + passenger.PassengerID, "Passenger")
        </div>


    }
</div>

