﻿@model MvcRides.Models.Passenger
@{
    ViewBag.Title = "List";
}


<div class="banner" id="passengerbanner">
</div>
<h2>New  Passenger</h2>

<form id="myform" action="/Passenger/Create" method="POST">
    <div class="inputrow">
        <label class="inputlabel"> First Name</label>
        <input type="text" name="P_FName" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Last Name</label>
        <input type="text" name="P_LName" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Phone Number </label>
        <input type="text" name="P_Phone" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Email </label>
        <input type="text" name="P_Email" />
    </div>
    <div class="inputrow">
        <input type="submit" value="add passenger" />
    </div>
</form>

<br />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

