﻿@model MvcRides.Models.Driver
@{
    ViewBag.Title = "Delete";
}



<h2>Delete</h2>
<h3> Are you sure?</h3>
<h4> Driver </h4>
<hr />
<d1 class="d1-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.D_FName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.D_FName)
    </dd>
    <dt>
    @Html.DisplayNameFor(model => model.D_LName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.D_LName)
    </dd>
    <dt>
    @Html.DisplayNameFor(model => model.D_Age)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.D_Age)
    </dd>
    <dt>
    @Html.DisplayNameFor(model => model.D_Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.D_Email)
    </dd>
    <dt>
    @Html.DisplayNameFor(model => model.D_Phone)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.D_Phone)
    </dd>

</d1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")

    </div>
}


