﻿@model MvcRides.Models.Driver
@{
    ViewBag.Title = "Edit";
}



<h2>Edit Driver</h2>

<form method="POST" action="/Driver/Edit/@Model.DriverID">
    <div>
        <label>First Name</label>
        <input type="text" value="@Model.D_FName" name="D_FName" />
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" value="@Model.D_LName" name="D_LName" />
    </div>
    <div>
        <label>Age</label>
        <input type="text" value="@Model.D_Age" name="D_Age" />
    </div>
    <div>
        <label>Email</label>
        <input type="text" value="@Model.D_Email" name="D_Email" />
    </div>
    <div>
        <label>Phone</label>
        <input type="text" value="@Model.D_Phone" name="D_Phone" />
    </div>

    <div>
        <input type="submit" value="Submit" />
    </div>
</form>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}