﻿@model IEnumerable<MvcRides.Models.Driver>
@{
    ViewBag.Title = "List";
}


<div class="banner" id="driverbanner">

</div>
<h2>List of Drivers</h2>


<div class="recadd">
    @Html.ActionLink("New Driver", "New", "Driver")
</div>

<table id="TableHeader" class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone</th>

    </tr>
    @foreach (var item in Model)

    {
        <tr>

            <td>@item.D_FName</td>
            <td>@item.D_LName</td>
            <td>@item.D_Age</td>
            <td>@item.D_Email</td>
            <td>@item.D_Phone</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DriverID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DriverID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DriverID })
            </td>
        </tr>
    }
</table>