﻿@model MvcRides.Models.Driver
@{
               
                ViewBag.Title = "New";
}

<h2>New Driver</h2>

<form id="myform" action="/Driver/Create" method="POST">
    <div class="inputrow">
        <label class="inputlabel"> First Name</label>
        <input type="text" name="D_FName" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Last Name</label>
        <input type="text" name="D_LName" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Age </label>
        <input type="text" name="D_Age" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Email </label>
        <input type="text" name="D_Email" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Phone Number </label>
        <input type="text" name="D_Phone" />
    </div>

    <div class="inputrow">
        <input type="submit" value="Submit" />
    </div>
</form>

<br />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}