﻿@model MvcRides.Models.Ride
@{
    ViewBag.Title = "Delete";
}



<h2>Delete</h2>
<h3> Are you sure?</h3>
<h4> Passenger </h4>
<hr />
<d1 class="d1-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.departureCity)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.departureCity)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.arrivalCity)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.arrivalCity)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.pickSpot)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.pickSpot)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.dropSpot)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.dropSpot)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.distance)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.distance)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.departureDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.departureDate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.departureTime)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.departureTime)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.price)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.price)
    </dd>


</d1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")

    </div>
}


