﻿@model MvcRides.Models.Ride
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="POST" action="/Ride/Edit/@Model.RideID">
    <div>
        <label>Departure City</label>
        <input type="text" value="@Model.departureCity" name="departureCity" />
    </div>
    <div>
        <label>Arrival City</label>
        <input type="text" value="@Model.arrivalCity" name="arrivalCity" />
    </div>
    <div>
        <label>Pick Spot</label>
        <input type="text" value="@Model.pickSpot" name="pickSpot" />
    </div>
    <div>
        <label>Drop Spot</label>
        <input type="text" value="@Model.dropSpot" name="dropSpot" />
    </div>
    <div>
        <label>Distance</label>
        <input type="text" value="@Model.distance" name="distance" />
    </div>
    <div>
        <label>Departure Date</label>
        <input type="text" value="@Model.departureDate" name="departureDate" />
    </div>
    <div>
        <label>Departure Time</label>
        <input type="text" value="@Model.departureTime" name="departureTime" />
    </div>
    <div>
        <label>price</label>
        <input type="text" value="@Model.price" name="price" />
    </div>

    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


