﻿@model IEnumerable<MvcRides.Models.Ride>
@{
                

                ViewBag.Title = "List";
}


<div class="banner" id="ridebanner">

</div>

<h2>List of Rides</h2>


<div class="recadd">
    @Html.ActionLink("New Ride", "New", "Ride")
</div>

<table id="TableHeader" class="table">

    <tr>
        <th>From</th>
        <th>To </th>
        <th>Pick Spot</th>
        <th>Drop Spot</th>
        <th>Distance</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        <th>Price</th>

    </tr>
    @foreach (var item in Model)

    {
        <tr>

            <td>@item.departureCity</td>
            <td>@item.arrivalCity</td>
            <td>@item.pickSpot</td>
            <td>@item.dropSpot</td>
            <td>@item.distance</td>
            <td>@item.departureDate</td>
            <td>@item.departureTime</td>
            <td>@item.price</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RideID }) |
                @Html.ActionLink("Details", "Details", new { id = item.RideID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RideID })
            </td>
        </tr>
    }
</table>







