﻿@model MvcRides.Models.Ride
@{
    ViewBag.Title = "List";
}


<div class="banner" id="ridebanner">
    <h2>List of rides</h2>
</div>

    //build my rendering loop
<div class="recadd">
    @Html.ActionLink("New Ride", "New", "Ride")
</div>

@{
    ViewBag.Title = "New";
}

<h2>New Ride</h2>



<form id="myform" action="/Ride/Create" method="POST">
    <div class="inputrow">
        <label class="inputlabel"> Departure City</label>
        <input type="text" name="departureCity" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Arrival City</label>
        <input type="text" name="arrivalCity" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Pick Spot </label>
        <input type="text" name="pickSpot" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Drop Spot </label>
        <input type="text" name="dropSpot" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Distance </label>
        <input type="text" name="distance" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Departure Date </label>
        <input type="text" name="departureDate" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Departure Time </label>
        <input type="text" name="departureTime" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Price </label>
        <input type="text" name="price" />
    </div>

    <div class="inputrow">
        <input type="submit" value="add ride" />
    </div>
</form>
<br />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
