﻿body {
}


.inputrow {
    margin-bottom: 5px;
}

    .inputrow input[type="text"], .inprow textarea {
        box-sizing: border-box;
        box-shadow: none;
        border: 1px solid #e0e0e0;
        padding-left: 3px;
    }

    .inputrow input[type="submit"] {
        background: #fefefe;
        border: 1px solid #e0e0e0;
        color: c3c3c3;
        margin-top: 14px;
    }

    .inputrow textarea {
        height: 80px;
        width: 400px;
    }

.inputlabel {
    font-size: 16px;
    color: #212121;
    font-weight: bold;
    letter-spacing: .05em;
    margin-bottom: 5px;
}


.body-content {
    position: relative;
}

.recadd {
    margin-top: 20px;
    font-size: 20px;
}



.banner {
    width: 100%;
    height: 200px;
    position: relative;
}

    .banner h2 {
        font-size: 40px;
        position: absolute;
        text-align: center;
        left: 0px;
        margin-left: auto;
        right: 0px;
        margin-right: auto;
        top: 0px;
        margin-top: auto;
        bottom: 0px;
        margin-bottom: auto;
        height: 40px;
    }
#passengerbanner {
    background-image: url(../img/driver.jpg);
    background-size: cover;
    background-position: 52% 68%;
}
.row {
    background-image: url(../img/car.jpg);
    background-size: cover;
    background-position: 52% 68%;
}
  
#driverbanner {
    background-image: url(../img/driver.jpg);
    background-size: cover;
    background-position: 52% 68%;
}
    #driverbanner h2, #ridebanner h2 {
        color: white;
    }
#ridebanner {
    background-image: url(../img/driver.jpg);
    background-size: cover;
    background-position: 52% 68%;
}


/*/.img-container {
   
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

    .img-container img {
        width: 100%;
    }

.img-caption {
    display: block;
    text-align: center;
    background: #7bb7b9;
    color: #fff;
    border-radius: 2px;
    width: 100px;
    margin-top: 4px;
}*/

